NEXT_PUBLIC_SITE_URL=https://www.veylixstaffing.com
NEXT_PUBLIC_SITE_NAME="Veylix Staffing"
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-XXXXXXXXXX
NEXT_PUBLIC_HOTJAR_ID=
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=your_v3_site_key_from_google
RECAPTCHA_SECRET_KEY=your_v3_secret_key_from_google
CONTACT_FORM_EMAIL=
RESEND_API_KEY=re_YOUR_KEY_HERE
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/veylix?retryWrites=true&w=majority&appName=Cluster0
